body {
    padding: 50px;
    background-image: url("https://image.freepik.com/free-vector/military-illustration-army-background_40382-217.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.wlcm {
    font-family: 'Potta One', cursive;
    font-size: 150pt;
    text-align: center;
}